#Circle{
    stroke-dasharray: 63;
    stroke-dashoffset: 63;  /*이것도 반지름을 받아 테두리 길이를 구해 넣도록 수정해야함*/
    animation: line 4s forwards;
    /*transform:rotate(-90deg);*/
    transform-origin: 50% 50%;
    stroke-linecap: round;
}
/*
circle{
    transform:rotate(-90deg);
}*/
@keyframes line{
    from{stroke-dashoffset: 63;}
    to{stroke-dashoffset: 0;}
}