
#Circle{
    stroke-dasharray: 63;
    stroke-dashoffset: 63;
    animation: line 2s forwards;
    transform-box: fill-box;
    transition: all ease 0.2s 0s;
    transform-origin: 50% 50%;
    stroke-linecap: round;
}

#Circle:hover{
    transform: scale(1.2);
} 

@keyframes line{
    from{stroke-dashoffset: 63;}
    to{stroke-dashoffset: 0;}
}  