#CurvedLine path{
    stroke:black;
    fill: none;
    animation: line 2s forwards;
    stroke-linecap: round;
}
@keyframes line{
    to{stroke-dashoffset: 0;}
    /*
    해당 태그에서 stroke-dashoffset의 초기값을 미리 설정해서 to 만 있어도 해당 애니메이션이 발동 되는 것,
    */
}

/* // path.strokeDasharray =  path.pathLength;
// path.strokeDashoffset = path.pathLength;*/





















