#footer{
    text-align: center; /* Quirks Mode 를 위한 가운데 정렬 */
    height: 150px;
}

.githubLogo{
    transition: all ease 0.1s 0s;
    transform-origin: 50% 50%;
}
.githubLogo:hover{
    cursor: pointer; 
    transform: scale(1.2);
}

/*
img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
img:hover{
    width: 70px;
    height: 70px;
    object-fit: cover;
}
*/